
# Created by https://www.gitignore.io/api/react,appengine,visualstudiocode
# Edit at https://www.gitignore.io/?templates=react,appengine,visualstudiocode

### AppEngine ###
# Google App Engine generated folder
appengine-generated/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
build

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/react,appengine,visualstudiocode
node_modules
# Ignore credentials
credentials.tar.gz
client-secret.json
lib/
